<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/report/weight">Weight</a>
          <a class="dropdown-item" href="/report/bloodpressure">Blood Pressure</a>
          <a class="dropdown-item" href="/report/bloodsugar">Blood Sugar</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          File Maintenance
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/medicine">Medicine</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Security
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/users">Users</a>
          <a class="dropdown-item" href="/roles">Roles</a>
         
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btnLogin" href="/login">Login</a>
        <a class="nav-link" id="btnLogout" href="/logout" style="display:none">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<input class="d-none" type="text" id="apiurl" value=<%=apiurl %> >
<% var token='' ; %>
  <% if(typeof sessiontoken !='undefined' ) { %>
    <% token=sessiontoken; %>
      <% } %>

        <input type="hidden" value='<%=token %>' id='sessiontoken'>
        <script>
          if ($('#sessiontoken').val().length > 5) {
            $('#btnLogin').hide();
            $('#btnLogout').show();
          } else {
            $('#btnLogin').show();
            $('#btnLogout').hide();
          }
        </script>