<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
  <link href="/styles/calendar/index.css" rel="stylesheet">
</head>

<body class="container">
  <header>
    <%- include('../../partials/header'); %>
  </header>
  <main>
    <h3>Medicine Reminder List</h3>
    <%- include('../../partials/loader'); %>
      <!-- Button trigger modal -->
     
      <div class="container-fluid">
        <div class="row" id="cardcontainer">
        </div>
      </div>
  </main>
  <footer>
    <script src="/scripts/common/getData.js"></script>
    <script src="/scripts/common/insert.js"></script>
    <script src="/scripts/Reminder/index.js"></script>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>